@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: Chunkfive;
    src: url(./fonts/Chunkfive\ Ex.ttf) format('truetype');
}

@font-face {
    font-family: Digital;
    src: url(./fonts/DS-DIGI.TTF) format('truetype');
}

:root{
    --corcalc: #35495C;
    --corbtn: #576D7E;
}

body,html{
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

h1{
    font-family: 'Chunkfive', cursive;
    font-size: 60pt;
}

#calculator{
    width: 225px;
    border-radius: 3px;
    padding: 12px;
    background-color: var(--corcalc);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.411);
}

.result{
    height: 60px;
    background-color: #89C763;
    box-shadow: inset 5px 5px #3CB54A;
    border-radius: 7px;
    margin-bottom: 10px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    font-family: Digital;
    font-size: 30pt;
    color: #0E9347;
}

table td{
    display: inline-block;
}

.btn{
    border: none;
    box-shadow: inset -5px -5px #3F556B;
    cursor: pointer;
    margin: 3px;
    width: 50px;
    height: 40px;
    background-color: var(--corbtn);
    color: rgb(255, 255, 255);
    font-size: 12pt;
}
.btn :hover{
    background-color: #263441;
    box-shadow: inset -5px -5px #2b3a49;
}

#btnac{
    background-color: #DE333F;
    box-shadow: inset -5px -5px #C61C31;
}

#btnac:hover{
    background-color: #99242c;
    box-shadow: inset -5px -5px #79111d;
}

#btnigual{
    background-color: #B0C4D9;
    box-shadow: inset -3px -3px #99B5CD;
    color: #5d6e7e;
}

#btnigual:hover{
    background-color: #8c9cad;
}

@media screen and (max-width: 500px) {
    h1{
        font-size: 40pt;
    }

    #creditos{
        font-size: 12pt;
    }
}