@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: Chunkfive;
    src: url(./fonts/Chunkfive\ Ex.ttf) format('truetype');
}

@font-face {
    font-family: Digital;
    src: url(./fonts/DS-DIGI.TTF) format('truetype');
}

:root{
    --corcalc: #313131;
    --corbtn: #333334;
}

body,html{
    height: 100%;
    width: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );

      
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

h1{
    font-family: 'Chunkfive', cursive;
    font-size: 60pt;
}

#calculator{
    width: 225px;
    border-radius: 3px;
    padding: 12px;
    background-color: var(--corcalc);
    box-shadow: 5px 10px 10px rgb(32, 32, 32);
}

.result{
    height: 60px;
    background-color: rgb(92, 92, 92);
    box-shadow: inset 5px 5px 5px rgb(32, 32, 32);
    border-radius: 7px;
    margin-bottom: 10px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    font-family: Digital;
    font-size: 30pt;
    color: rgb(255, 255, 255);
}

table td{
    display: inline-block;
}

.btn{
    cursor: pointer;
    margin: 3px;
    width: 50px;
    height: 40px;
    background-color: var(--corbtn);
    color: rgb(255, 255, 255);
}
.btn:hover{
    background-color: #616161;
}

#btnigual{
    background-color: rgb(105, 45, 45);
}

#btnigual:hover{
    background-color: rgb(75, 27, 27);
}

@media screen and (max-width: 500px) {
    h1{
        font-size: 30pt;
    }

    #creditos{
        font-size: 12pt;
    }
}